body{
    background-color: #333745;
    font-family: 'Lemonada', cursive;
}
h1{
    color: #CC7E85;
    text-align: center;
}
.cor {
    
    
    align-items: center;
    background-color: #CC7E85;
    width: 3em;
}
#posicao{
    margin: auto;
    padding: 50px;
}
.ps{
    margin-top: 20%;
}





footer p{
    text-align: center;
    color: #CC7E85;
    margin-top: 40px ;
}