body{
    background-color: #333745;
    font-family: 'Lemonada', cursive;
}
h1{
    color: #CC7E85;
    text-align: center;
}
.cor {
    
    
    align-items: center;
    background-color: #CC7E85;
    width: 3em;
}

.ps{
    background-color: black;
    margin: auto;
    width: 400px;
    height: 70vh;
    align-items: center;
    padding: 50px;
    
}

#posicao{
    align-items: center;
    margin-left: 23%;
}



footer p{
    text-align: center;
    color: #CC7E85;
    margin-top: 40px ;
}

.btn{
    border: none;
    width: 55px;
    height: 30px;
}

.visor{
    width: 230px;
    height: 50px;
    font-size: 20px;
    font-weight: bold;
    color:#CC7E85 ;
}